<ion-view ng-controller="CaptacaoEditCtrl" view-title="Nova Indicação">
	<ion-content>
		<form ng-submit="salvar()">
			<div class="list">
				<div class="item item-divider item-text-wrap">
					Dados Pessoais
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Nome Completo</span>
					<input type="text" ng-model="form.nome" placeholder="Preenchimento Obrigatório" maxlength="100">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Telefone com DDD</span>
					<input type="tel" ng-model="form.telefone" placeholder="Preenchimento Obrigatório" maxlength="15">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input type="email" ng-model="form.email" placeholder="Preenchimento Opcional" maxlength="60">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">Período de Contato</div>
					<select ng-model="form.periodoContato">
						<option value="M">Manhã</option>
						<option value="T">Tarde</option>
						<option value="N">Noite</option>
					</select>
				</label>
				<div class="item item-divider item-text-wrap">
					Dados Financeiros
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Renda</span>
					<input type="number" ng-model="form.renda" placeholder="Preenchimento Opcional" maxlength="10">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Valor da Carta de Crédito</span>
					<input type="number" ng-model="form.valorCredito" placeholder="Preenchimento Opcional" maxlength="10">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Prazo do Consórcio</span>
					<input type="number" ng-model="form.prazoConsorcio" placeholder="Preenchimento Opcional" maxlength="10">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Valor da Parcela</span>
					<input type="number" ng-model="form.valorParcela" placeholder="Preenchimento Opcional" maxlength="10">
				</label>
				<div class="item item-divider item-text-wrap">
					<p><i class="icon ion-information-circled"></i>  Se um indicado for efetuado, ou seja, ter a venda confirmada, o indicador receberá uma comissão que poderá ser visualizada no <b>Extrato</b>.</p>
				</div>
				<label class="item">
					<button class="button button-block button-verdeIndAmig" type="submit">Enviar</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>
