<ion-view ng-controller="ExtratoCtrl" view-title="Extrato">
	<ion-content>
		<div class="card list">
			<div class="item item-divider item-positive">
				Valor a Receber
			</div>
			<div class="item item-divider item-text-wrap">
				<p>Aqui constará o valor total a receber no atual período de apuração, calculado a partir da quantidade de indicações efetivadas no período.</p>
			</div>
			<div class="item item-text-wrap" ng-show="listaDisponiveis.length == 0">
				<p>Você não possui valor a receber.</p>
			</div>
			<div class="item item-text-wrap" ng-repeat="obj in listaDisponiveis">
				<p>Data <span class="item-note" style="color: #444;">{{obj.data_competencia}}</span>
				<br>
				Indicações Efetivadas <span class="item-note" style="color: #444;">{{obj.indicacoes}}</span>
				<br>
				Fechamento em <span class="item-note" style="color: #444;">{{obj.data_situacao}}</span>
    			<br>
				<b>Valor a Receber</b> <span class="item-note" style="color: #444;"><b>R$ {{obj.valor}}</b></span></p>
			</div>
		</div>
		<div class="card list">
			<div class="item item-divider item-positive">
				Valor Recebido
			</div>
			<div class="item item-text-wrap" ng-show="listaPagas.length == 0">
				<p>Você não recebeu pagamento recentemente.</p>
			</div>
			<div class="item item-text-wrap" ng-repeat="obj in listaPagas">
				<p>Data <span class="item-note" style="color: #444;">{{obj.data_competencia}}</span>
				<br>
				Indicações Efetivadas <span class="item-note" style="color: #444;">{{obj.indicacoes}}</span>
				<br>
				Pago em <span class="item-note" style="color: #444;">{{obj.data_situacao}}</span>
    			<br>
				<b>Valor Recebido</b> <span class="item-note" style="color: #444;"><b>R$ {{obj.valor}}</b></span></p>
			</div>
		</div>
	</ion-content>
</ion-view>
