<ion-view view-title="Extrato">
	<ion-content>
		<div class="card list">
			<div class="item item-divider item-positive">
				Comissão Disponível
			</div>
			<div class="item item-divider item-text-wrap">
				<p>Aqui constará o valor da comissão total calculada a partir da quantidade de indicações efetuadas no período indicado abaixo.</p>
			</div>
			<div class="item item-text-wrap">
				<p>Período</p>
				<span class="badge badge-light">01/11/2016 a 15/11/2016</span>
			</div>
			<div class="item item-text-wrap">
				<p>Indicações Efetuadas</p>
				<span class="badge badge-light">6</span>
			</div>
			<div class="item item-text-wrap">
				<p>Fechamento em</p>
				<span class="badge badge-light">16/11/2016</span>
			</div>
			<div class="item item-text-wrap">
				<p>Valor a Receber</p>
				<span class="badge badge-positive">R$ 300,00</span>
			</div>
		</div>
		<div class="card list">
			<div class="item item-divider item-positive">
				Comissão Recebida
			</div>
			<div class="item item-text-wrap">
				<p>Período <span class="item-note" style="color: #444;">16/10/2016 a 31/10/2016</span>
				<br>
				Indicações Efetuadas <span class="item-note" style="color: #444;">3</span>
				<br>
				Pago em <span class="item-note" style="color: #444;">01/11/2016</span>
    			<br>
				<b>Valor Recebido</b> <span class="item-note" style="color: #444;"><b>R$ 150,00</b></span></p>
			</div>
			<div class="item item-text-wrap">
				<p>Período <span class="item-note" style="color: #444;">01/10/2016 a 15/10/2016</span>
				<br>
				Indicações Efetuadas <span class="item-note" style="color: #444;">4</span>
				<br>
				Pago em <span class="item-note" style="color: #444;">17/10/2016</span>
    			<br>
				<b>Valor Recebido</b> <span class="item-note" style="color: #444;"><b>R$ 200,00</b></span></p>
			</div>
			<div class="item item-text-wrap">
				<p>Período <span class="item-note" style="color: #444;">16/09/2016 a 30/09/2016</span>
				<br>
				Indicações Efetuadas <span class="item-note" style="color: #444;">10</span>
				<br>
				Pago em <span class="item-note" style="color: #444;">03/10/2016</span>
    			<br>
				<b>Valor Recebido</b> <span class="item-note" style="color: #444;"><b>R$ 500,00</b></span></p>
			</div>
		</div>
	</ion-content>
</ion-view>
