<ion-view view-title="Indicador Amigo">
	<ion-content>
		<div class="card list">
			<div class="item item-divider item-positive">
				Resumo das Indicações
			</div>
			<div class="item item-text-wrap">
				<p>Novas <b>indicações</b> feitas recentemente.</p>
				<span class="badge badge-positive">{{dados.totalRecentes}}</span>
			</div>
			<div class="item item-text-wrap">
				<p>Novas <b>indicações</b> aguardando envio.</p>
				<span class="badge badge-positive">{{dados.totalPendentes}}</span>
			</div>
		</div>
		<div class="card list">
			<div class="item item-divider item-positive">
				Resumo Financeiro
			</div>
			<div class="item item-divider item-text-wrap">
				<p>Veja o resumo financeiro até o momento.</p>
			</div>
			<div class="item item-text-wrap">
				<p>Indicações efetivadas no período</p>
				<span class="badge badge-positive">{{dados.indConfirmadas}}</span>
			</div>
			<div class="item item-text-wrap">
				<p>Valor a receber</p>
				<span class="badge badge-positive">R$ {{dados.valConfirmadas}}</span>
			</div>
		</div>
		<!-- <div class="card list">
			<div class="item item-divider item-positive">
				Informativo
			</div>
			<div class="item item-text-wrap">
				<p>Novas <b>mensagens</b></p>
				<span class="badge badge-positive">3</span>
			</div>
		</div> -->
	</ion-content>
</ion-view>
