<ion-view view-title="Instalações Pendentes">
	<ion-content>
		<ion-list>
			<div class="item item-divider">
				<b>Em Andamento</b>
			</div>
			<ion-item class="item item-text-wrap" ng-click="instalacaoPendente()">
				Hoje
				<p>Rodrigo de Souza Santos</p>
				<p>R. Cartio, 143 - São Lucas - Belo Horizonte, MG</p>
				<p>31 3431-7343</p>
			</ion-item>
			<div class="item item-divider">
				<b>Não Iniciada</b>
			</div>
			<ion-item class="item item-text-wrap">
				20/06/2016
				<p>Tales Cota Silva</p>
				<p>R. dos Palmares, 1040 - São João - Belo Horizonte, MG</p>
				<p>31 2654-8193</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				23/06/2016
				<p>Natália Nascimento Montenegro</p>
				<p>R. Costa, 541 - Centro - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
