<ion-view view-title="Instalações">
	<ion-content>
		<div class="card list">
			<div class="item item-divider item-assertive">
				Instalações Disponíveis
				<span class="badge badge-light">15</span>
			</div>
			<div class="item item-divider item-text-wrap">
				<p>Veja as instalações que estão disponíveis para algum técnico pegar.</p>
			</div>
			<div class="item">
				<a class="button button-block button-assertive" href="#/app/instalacoes/instalacoesDisponiveis">Ver</a>
			</div>
		</div>
		<div class="card list">
			<div class="item item-divider item-assertive">
				Instalações Pendentes
				<span class="badge badge-light">3</span>
			</div>
			<div class="item item-divider item-text-wrap">
				<p>Veja a lista de todas instalações que você pegou pra si e precisam de sua atenção.</p>
			</div>
			<div class="item">
				<a class="button button-block button-assertive" href="#/app/instalacoes/instalacoesPendentes">Ver</a>
			</div>
		</div>
		<div class="card list">
			<div class="item item-divider item-assertive">
				Instalações Concluídas
				<span class="badge badge-light">9</span>
			</div>
			<div class="item item-divider item-text-wrap">
				<p>Veja a lista de todas as instalações que você concluiu.</p>
			</div>
			<div class="item">
				<a class="button button-block button-assertive" href="#/app/instalacoes/instalacoesConcluidas">Ver</a>
			</div>
		</div>
	</ion-content>
</ion-view>
