<ion-view view-title="Instalações Disponíveis">
	<ion-content>
		<ion-list>
			<ion-item class="item item-text-wrap" ng-click="instalacaoDisponivel()">
				Antônio Ferreira Santos
				<p>R. Montês, 12 - São Gabriel - Belo Horizonte, MG</p>
				<p>31 3852-8941</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Tulio Soares e Silva
				<p>R. dos Palmares, 1040 - São João - Belo Horizonte, MG</p>
				<p>31 2654-8193</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Marcela Nascimento Montenegro
				<p>R. Netos, 78 - São Antônio - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Marcio Moura Sonto
				<p>R. Fonte, 876 - São José - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Carmem Elizabeth Salto
				<p>R. Costa, 32 - Centro - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Rosane Fontana Neto
				<p>R. A, 12 - Alto Floral - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Álvaro Brás Reis
				<p>R. das Flores, 643 - Chagas - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Vera Lúcia Prates
				<p>R. Libra, 432 - Funcionários - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap" ng-click="instalacaoDisponivel()">
				Maria Celestina Carvalho
				<p>R. Pernambuco, 123 - Lourdes - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Pedro Afonso de Melo
				<p>R. Souza, 643 - Gutierrez - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Nayara de Oliveira Melo
				<p>R. Dirceu, 1231 - Mangabeiras - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Marcela Carla Montês
				<p>R. São Paulo, 634 - Centro - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Lucas Fonseca da Costa
				<p>R. Riacho, 234 - Floramar - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Hueverton Costa Chagas
				<p>R. Final, 52 - Jaraguá - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
			<ion-item class="item item-text-wrap">
				Filipe Carlos Josias
				<p>R. Universitária, 32 - Aeroporto - Belo Horizonte, MG</p>
				<p>31 4592-5168</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
