<ion-view ng-controller="LoginCtrl" view-title="Acesso">
	<ion-content>
		<form ng-submit="autenticar()">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Usuário</span>
					<input type="email" ng-model="form.email">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Senha</span>
					<input type="password" ng-model="form.senha">
				</label>
				<label class="item">
					<button class="button button-block button-positive" type="submit">Acessar</button>
				</label>
				<label class="item">
					<button class="button button-block button-positive" type="button" ng-click="recuperarSenha()">Recuperar Senha</button>
				</label>

				<div class="item item-divider item-text-wrap bottom">
					<p><i class="icon ion-information-circled"></i>  Não sou cadastrado e desejo me cadastrar nesse instante.</p>
				</div>
				<label class="item">
					<button type="button" class="button button-block button-positive" ng-click="cadastrar()">Cadastrar</a>
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>
