<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content drag-content="currentState != 'app.login'">
		<ion-nav-bar class="bar-verdeIndAmig">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-show="currentState != 'app.login'"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left" ng-show="currentState != 'app.login'">
		<ion-header-bar class="bar-verdeIndAmig">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<div class="item item-text-wrap">
					<h2 ng-if="usuario.perfil == 'C'">Indicador</h2>
					<span class="badge badge-verdeIndAmig">{{usuario.id_usuario}}</span>
					<h2 style="margin-top: 10px;">{{usuario.nome}}</h2>
				</div>
				<ion-item menu-close href="#/app" class="item-icon-left">
					<i class="icon material-icons">&#xE88A;</i>
					Início
				</ion-item>
				<ion-item menu-close href="#/app/captacaoList" class="item-icon-left">
					<i class="icon material-icons">&#xE85D;</i>
					Indicação
				</ion-item>
				<ion-item menu-close href="#/app/extrato" class="item-icon-left">
					<i class="icon material-icons">&#xE8EF;</i>
					Extrato
				</ion-item>
				<ion-item menu-close href="#/app/reversaList" class="item-icon-left" ng-show="usuario.perfil == 'R'">
					<i class="icon material-icons">&#xE5D5;</i>
					Indicação Reversa
				</ion-item>
				<ion-item menu-close href="#/app/perfil" class="item-icon-left">
					<i class="icon material-icons">&#xE851;</i>
					Perfil
				</ion-item>
				<ion-item menu-close href="#/app/sobre" class="item-icon-left">
					<i class="icon material-icons">&#xE88E;</i>
					Sobre
				</ion-item>
				<ion-item menu-close href="#/app/home" class="item-icon-left" ng-click="sair()">
					<i class="icon material-icons">&#xE879;</i>
					Sair
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
