<ion-view view-title="Painel">
	<ion-content>
		<div class="card list">
			<div class="item item-divider item-assertive">
				Captações
			</div>
			<div class="item item-text-wrap">
				<p><b>6</b> novas <b>captações</b> feitas recentemente.</p>
			</div>
		</div>
		<div class="card list">
			<div class="item item-divider item-assertive">
				Instalações
			</div>
			<div class="item item-text-wrap">
				<p><b>3</b> novas <b>instalações</b> disponíveis.</p>
			</div>
			<div class="item item-text-wrap">
				<p><b>5</b> <b>instalações</b> feitas recentemente.</p>
			</div>
		</div>
	</ion-content>
</ion-view>
