<ion-view view-title="Perfil">
	<ion-content>
		<div class="list">
			<div class="item item-text-wrap">
				Código
				<span class="badge badge-positive">007475</span>
			</div>
			<div class="item item-divider">
				Dados Pessoais
			</div>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nome Completo</span>
				<input type="text" placeholder="" value="Tulho Melo" readonly="true">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">CPF</span>
				<input type="text" placeholder="" value="032.125.134-99" readonly="true">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nascimento</span>
				<input type="text" placeholder="" value="25/10/1980" readonly="true">
			</label>
			<div class="item item-divider">
				Endereço
			</div>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Logradouro</span>
				<input type="text" placeholder="" value="R. Costa e Silva" readonly="true">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Número</span>
				<input type="text" placeholder="" value="432" readonly="true">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Complemento</span>
				<input type="text" placeholder="" value="Ap 1303" readonly="true">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Bairro</span>
				<input type="text" placeholder="" value="São Bento" readonly="true">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Cidade</span>
				<input type="text" placeholder="" value="Belo Horizonte" readonly="true">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">UF</span>
				<input type="text" placeholder="" value="MG" readonly="true">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">CEP</span>
				<input type="text" placeholder="" value="31110-040" readonly="true">
			</label>
		</div>
	</ion-content>
</ion-view>
