<ion-view ng-controller="PerfilCtrl" view-title="Perfil">
	<ion-content>
		<form ng-submit="alterar()">
			<div class="list">
				<div class="item item-text-wrap">
					Seu Código
					<span class="badge badge-verdeIndAmig">{{form.idUsuario}}</span>
				</div>
				<label class="item item-input item-stacked-label" ng-show="form.perfil == 'C'">
					<span class="input-label">Código da Pessoa Jurídica</span>
					<input type="number" ng-model="form.idRevenda" placeholder="(Opcional) Informe o código da empresa" maxlength="10">
				</label>
				<div class="item item-divider">
					Dados Pessoais
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input type="email" ng-model="form.email" placeholder="Informe o seu email" maxlength="60">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label" ng-show="form.perfil == 'C'">Nome Completo</span>
					<span class="input-label" ng-show="form.perfil == 'R'">Nome / Razão Social</span>
					<input type="text" ng-model="form.nome" placeholder="Informe o nome" maxlength="60">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label" ng-show="form.perfil == 'C'">CPF</span>
					<span class="input-label" ng-show="form.perfil == 'R'">CNPJ</span>
					<input type="text" ng-model="form.cpfCnpj" ng-show="form.perfil == 'C'" placeholder="Informe o CPF" maxlength="11">
					<input type="text" ng-model="form.cpfCnpj" ng-show="form.perfil == 'R'" placeholder="Informe o CNPJ" maxlength="14">
				</label>
				<label class="item item-input item-stacked-label" ng-show="form.perfil == 'C'">
					<span class="input-label">RG</span>
					<input type="text" ng-model="form.rg" placeholder="Informe o RG" maxlength="20">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label" ng-show="form.perfil == 'C'">Celular</span>
					<span class="input-label" ng-show="form.perfil == 'R'">Telefone</span>
					<input type="tel" ng-model="form.telefone" placeholder="Informe o número de DDD" maxlength="15">
				</label>
				<label class="item item-input item-stacked-label" ng-show="form.perfil == 'C'">
					<span class="input-label">Data de Nascimento</span>
					<input type="date" ng-model="form.dataNascimento" placeholder="Informe o data de nascimento" maxlength="10">
				</label>
				
				<div class="item item-divider">
					Endereço
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Logradouro</span>
					<input type="text" placeholder="" ng-model="form.endereco">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Número</span>
					<input type="text" placeholder="" ng-model="form.numero">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Complemento</span>
					<input type="text" placeholder="" ng-model="form.complemento">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Bairro</span>
					<input type="text" placeholder="" ng-model="form.bairro">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Cidade</span>
					<input type="text" placeholder="Informe a Cidade" ng-model="form.cidade">
				</label>
				<label class="item item-input item-select">
					<span class="input-label">UF</span>
					<select ng-model="form.uf">
						<option>AC</option>
						<option>AL</option>
						<option>AM</option>
						<option>AP</option>
						<option>BA</option>
						<option>CE</option>
						<option>DF</option>
						<option>ES</option>
						<option>GO</option>
						<option>MA</option>
						<option>MG</option>
						<option>MS</option>
						<option>MT</option>
						<option>PA</option>
						<option>PB</option>
						<option>PE</option>
						<option>PI</option>
						<option>PR</option>
						<option>RJ</option>
						<option>RN</option>
						<option>RO</option>
						<option>RR</option>
						<option>RS</option>
						<option>SC</option>
						<option>SE</option>
						<option>SP</option>
						<option>TO</option>
					</select>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">CEP</span>
					<input type="text" placeholder="Informe o CEP" ng-model="form.cep">
				</label>

			 	<item class="item item-divider">Dados Bancários</item>
				<label class="item item-input item-select">
					<div class="input-label">Banco</div>
					<select ng-model="form.banco">
						<option>Banco do Brasil</option>
						<option>Bradesco</option>
						<option>Caixa</option>
						<option>HSBC</option>
						<option>Itaú</option>
						<option>Mercantil</option>
						<option>Santander</option>
						<option>SICOOB</option>
					</select>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Agência</span>
					<input type="text" ng-model="form.agencia" placeholder="Informe o número agência com dígito" maxlength="45">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">Tipo de Conta</div>
					<select ng-model="form.tipoConta">
						<option>Corrente</option>
						<option>Poupança</option>
					</select>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Conta</span>
					<input type="text" ng-model="form.conta" placeholder="Informe o número da conta" maxlength="45">
				</label>

				<div class="item item-divider">
					Alterar Senha
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Senha Atual</span>
					<input type="password" placeholder="" ng-model="form.senhaAtual">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Nova Senha</span>
					<input type="password" placeholder="" ng-model="form.novaSenha" ng-disabled="form.senhaAtual.length < 6">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Confirme a Nova Senha</span>
					<input type="password" placeholder="" ng-model="form.confirmeNovaSenha" ng-disabled="form.novaSenha.length < 6">
				</label>
				
				<div class="item">
					<button class="button button-block button-verdeIndAmig" type="submit">Alterar</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>
