<ion-view view-title="Instalações">
	<ion-content>
		<div class="card list">
			<div class="item item-divider item-assertive">
				Instalações Disponíveis
			</div>
			<div class="item item-text-wrap">
				Tulho Melo
				<p>R. Jacuí, 40 - Floresta - Belo Horizonte, MG</p>
				<p>31 2532-1234</p>
			</div>
			<div class="item item-text-wrap">
				Renato Cota
				<p>R. Jacuí, 40 - Floresta - Belo Horizonte, MG</p>
				<p>31 2532-1234</p>
			</div>
			<div class="item item-text-wrap">
				Victor Nascimento
				<p>R. Jacuí, 40 - Floresta - Belo Horizonte, MG</p>
				<p>31 2532-1234</p>
			</div>
		</div>
	</ion-content>
</ion-view>
