<ion-view view-title="Sobre">
	<ion-content>
		<div class="padding">
			<img ng-src="img/logo.png" style="width: 340px; margin-left: auto; margin-top: 10px; margin-right: auto; display: block;">
		</div>
		<div class="card list">
			<div class="item item-divider item-verdeIndAmig">
				O que é o Indicador Amigo?
			</div>
			<div class="item item-text-wrap">
				<p>O Indicador Amigo é uma plataforma que conecta pessoas que desejam realizar o sonho de ter um automóvel fugindo dos predatórios juros dos financiamentos optando pelo consórcio como alternativa.</p>
				<br/>
				<p>Quem se tornar um Indicador, receberá da plataforma a quantia de R$ 100,00 para cada consórcio de automóvel contratado.</p>
			</div>
		</div>
		<div class="card list">
			<div class="item item-divider item-verdeIndAmig">
				O que é Consórcio?
			</div>
			<div class="item item-text-wrap">
				<p>Consórcio é a modalidade de compra baseada na união de pessoas – físicas e/ou jurídicas – em grupos, que contribuem mensalmente para um fundo comum, em um determinado prazo e com quantia determinada pelo percentual do preço do carro escolhido no plano de consórcio.</p>
				<br/>
				<p>Todos os participantes do grupo, após contemplação por sorteio ou lance, têm o direito de adquirir seu bem. Portanto, consórcio é a arte de poupar em grupo.</p>
			</div>
		</div>
	</ion-content>
</ion-view>
