<ion-view view-title="Sobre">
	<ion-content>
		<div class="padding">
			<img ng-src="img/logo.png" style="width: 340px; margin-left: auto; margin-top: 10px; margin-right: auto; display: block;">
		</div>
		<div class="card list">
			<div class="item item-text-wrap">
				<p>O <b>App Indicador Amigo</b> é um aplicativo que permitem terceiros devidamente cadastrados e autorizados indicarem contatos que são possíveis contratantes de um consórcio. As vendas efetivadas a partir das indicações geram comissões que são creditadas aos indicadores.</p>
			</div>
		</div>
	</ion-content>
</ion-view>
